.container{
    max-width: 400px !important;
}
.card{
    border: none !important;
}
.flex{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.dropdown-item{
    border-bottom: 1px solid black !important;
    padding: 5px 16px !important; 
    cursor: pointer;
}
.dropdown-item:last-of-type{
    border: none !important;
}
.hide{
    display: none;
}
#dropdown-link{
    color: black;
    text-decoration: none;
    padding: 5px;
}